<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @non_ski_review, partial: "card", as: :non_ski_review %>
  </div>
</div>

  <!-- Show Page Customization starts -->

  <!-- Show Page Customization end -->
