<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Ski Area Reviews

    <a data-toggle="collapse" href="#ski_area_ski_area_reviews_new_form">
      Add ski area review
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @ski_area.ski_area_reviews.each do |ski_area_review| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to ski_area_review, ski_area_review %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to ski_area_review, method: :delete, data: { confirm: "Do you really want to delete this ski_area_review" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="ski_area_ski_area_reviews_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
