<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @ski_check_in, partial: "card", as: :ski_check_in %>
  </div>
</div>

  <!-- Show Page Customization starts -->
  <!-- Show Page Customization end -->
